<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'pronos/style.css' %}" />
        <title>Pronofoot</title>
        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
    </head>
    <body>
        <div id="main_wrapper">
            <header>
                {% include "pronos/header.html" %}
            </header>
            {% include "pronos/menu.html" %}
            <section>
                <script type="text/javascript">
                    {{ chart_js|safe }}
                </script>

                <div id="container" style="width:100%; height:520px;"></div> 
            </section>
        </div>
    </body>
</html>
