<div id="main_title">
    <div id="logo">
        {% load staticfiles %}
        <a href="{% url 'pronos:index' %}">
            <img src="{% static 'pronos/logo.png' %}" alt="Logo" />
        </a>
        <h1>Pronofoot</h1>    
    </div>
</div>
<nav>
    <a href="{% url 'pronos:index' %}">Accueil</a>
    <span> | </span>
    {% if user.is_authenticated %}
        <span>Connecté en tant que {{ user.username }}</span>
        <a href="{% url 'pronos:deconnexion' %}">Déconnection</a>
    {% else %}
        <a href="{% url 'pronos:register' %}">Inscription</a>
        <a href="{% url 'pronos:connexion' %}">Connection</a>
    {% endif %}
</nav>                
