<h1>Pronofoot</h1>
{% if user.is_authenticated %}
    <p>Bonjour {{ user.username }} !</p>
    <a href="{% url 'pronos:deconnexion' %}">Se déconnecter</a>
{% else %}
    <a href="{% url 'pronos:register' %}">S'inscrire</a>
    <a href="{% url 'pronos:connexion' %}">Se connecter</a>
{% endif %}
{% if cup_list %}
    <p>Choisissez une compétition :</p>
    <ul>
    {% for cup in cup_list %}
        <li><a href="{% url 'pronos:cup' cup.id %}">{{ cup.cup_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Aucune compétition disponible.</p>
{% endif %}
