{% if phases %}
    <div class="v_scrolling">
        <table>
            <tr>
                {% for phase_name, date_list in phases %}
                    <th>{{ phase_name }}</th>
                {% endfor %}
            </tr>
            <tr align="center">
            {% for phase_name, date_list in phases %}
                <td class="calendar">
                    {% for date, match_list in date_list %}
                        <h4>{{ date }} :</h4>
                        <table id="calendar">
                            {% for match in match_list %}
                                <tr>
                                    <td class="right">
                                        <a href="{% url 'pronos:team' cup_id match.team_a.id %}">
                                            {{ match.team_a }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ match.score_prolong_a|default:0|add:match.score_a }}
                                    </td>
                                    <td>-</td>
                                    <td>
                                        {{ match.score_prolong_b|default:0|add:match.score_b }}
                                    </td>
                                    <td class="left">
                                        <a href="{% url 'pronos:team' cup_id match.team_b.id %}">
                                            {{ match.team_b }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endfor %}
                </td>
            {% endfor %}
            </tr>
        </table>
    </div>
{% else %}
    <p>Aucun match disponible.</p>
{% endif %}
