<div id="cup_menu">
    <h1>{{ cup_name }}</h1>
    <nav>
        <ul>
            <li><a href="{% url 'pronos:cupTeams' cup_id %}">Equipes</a></li>
            <li><a href="{% url 'pronos:matches' cup_id %}">Calendrier</a></li>
            <li><a href="{% url 'pronos:pronosEdit' cup_id %}">Editer</a></li>
            <li><a href="{% url 'pronos:pronostics' cup_id %}">Pronostics</a></li>
            <li><a href="{% url 'pronos:rankings' cup_id %}">Classements</a></li>
            <li><a href="{% url 'pronos:stats' cup_id %}">Stats</a></li>
        </ul>
    </nav>
</div>
