<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'pronos/style.css' %}" />
        <title>Pronofoot</title>
    </head>
    <body>
        <div id="main_wrapper">
            <header>
                {% include "pronos/header.html" %}
            </header>
            {% include "pronos/menu.html" %}
            <section>
                {% if created %}
                    <p><strong>Vos pronostiques sont enregistrés.</strong></p>
                    <a href="{% url 'pronos:cup' cup_id %}">Retour</a>
                {% else %}
                    <h1>Matchs à pronostiquer :</h1>
                    {% if no_available_prono %}
                        <p>Pas de pronostique éditable.</p>
                    {% else %}
                        <form action="." method="post">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            <div class="v_scrolling">
                                <table class="prono_edit">
                                    <tr>
                                        <th>Equipe A</th>
                                        <th>Score A</th>
                                        <th>Score B</th>
                                        <th>Equipe B</th>
                                        <th>Vainqueur en cas de tirs aux buts</th>
                                    </tr>
                                    {% for form in formset %}
                                        {{ form.id }}
                                        <tr>
                                            <td class="right">{{ form.score_a.label }}</td>
                                            <td class="right">{{ form.score_a }}</td>
                                            <td class="left">{{ form.score_b }}</td>
                                            <td class="left">{{ form.score_b.label }}</td>
                                            <td>{{ form.winner }}</td>
                                            <td class="hide">{{ form.prono }}</td>
                                            <td class="hide">{{ form.match }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <input type="submit" value="Soumettre" />
                        </form>
                    {% endif %}
                {% endif %}
            </section>
        </div>
    </body>
</html>
