<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css"
            href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css"
            href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'pronos/style.css' %}" />
        <title>Pronofoot</title>
        <style type="text/css" class="init">    
            th, td {
                white-space: nowrap;
            }
        </style>
        <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js">
        </script>
        <script type="text/javascript" class="init">
            $(document).ready(function() {
                var table = $('#pronotable').DataTable( {
                    scrollY: "60vh",
                    scrollX: true,
                    sScrollX: "100%",
                    scrollCollapse: true,
                    paging: false,
                    bInfo: false,
                    oLanguage: {
                        "sSearch": "Rechercher :"
                    },
                    fixedColumns:   {
                        leftColumns: 2
                    },
                    columnDefs: [
                        { targets: '_all', bSortable: false }
                    ],
                    order: []
                } );
            } );
        </script>
    </head>
    <body>
        <div id="main_wrapper">
            <header>
                {% include "pronos/header.html" %}
            </header>
            {% include "pronos/menu.html" %}
            <section>
                <h1>Tableau récapitulatif des pronostics :</h1>

                <table id="pronotable" class="pronos" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Match</th>
                            {% for user in user_list %}
                                <th>
                                    {{ user.name|truncatechars:9 }}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for match in match_list %}
                        <tr>
                            <td>{{ match.date }}</td>
                            <td><table class="intern">
                                <tr style="background: rgba(0, 0, 0, 0);">
                                    <td class="transparent">
                                        {% if match.win == 'a' %}
                                            <strong>{{ match.team_a }}</strong>
                                        {% else %}
                                            {{ match.team_a }}
                                        {% endif %}
                                    </td>
                                    <td class="transparent">
                                        {% if match.win == 'a' %}
                                            <strong>{{ match.score_a }}</strong>
                                        {% else %}
                                            {{ match.score_a }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr style="background: rgba(0, 0, 0, 0);">
                                    <td class="transparent">
                                        {% if match.win == 'b' %}
                                            <strong>{{ match.team_b }}</strong>
                                        {% else %}
                                            {{ match.team_b }}
                                        {% endif %}
                                    </td>
                                    <td class="transparent">
                                        {% if match.win == 'b' %}
                                            <strong>{{ match.score_b }}</strong>
                                        {% else %}
                                            {{ match.score_b }}
                                        {% endif %}
                                    </td>
                                </tr>
                                </table>
                            </td>
                            {% for prono in match.pronos %}
                            <td bgcolor={{ prono.color }}><table class="intern">
                                    <tr style="background: rgba(0, 0, 0, 0);">
                                        <td class="transparent">
                                            {% if prono.win == 'a' %}
                                                <strong>{{ prono.score_a }}</strong>
                                            {% else %}
                                                {{ prono.score_a }}
                                            {% endif %}
                                        </td>
                                        <td class="transparent" rowspan="2">
                                            {{ prono.points }}
                                        </td>
                                    </tr>
                                    <tr style="background: rgba(0, 0, 0, 0);">
                                        <td class="transparent">
                                            {% if prono.win == 'b' %}
                                                <strong>{{ prono.score_b }}</strong>
                                            {% else %}
                                                {{ prono.score_b }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </body>
</html>
