<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'pronos/style.css' %}" />
        <title>Pronofoot</title>
    </head>
    <body>
        <div id="main_wrapper">
            <header>
                {% include "pronos/header.html" %}
            </header>
            <section>
                <h1>Création de compte</h1>
                {% if created %}
                    <p><strong>Votre compte a bien été créé !</strong></p>
                    <a href="{% url 'pronos:index' %}">Accueil</a>
                {% else %}
                    {% if username_already_exists %}
                        <p><strong>Le pseudo "{{ username }}" est déjà utilisé !</strong></p>
                    {% endif %}
                    <form action="{% url 'pronos:register' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Soumettre" />
                    </form>
                {% endif %}
            </section>
        </div>
    </body>
</html>
