<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'pronos/style.css' %}" />
        <title>Pronofoot</title>
    </head>
    <body>
        <div id="main_wrapper">
            <header>
                {% include "pronos/header.html" %}
            </header>
            {% include "pronos/menu.html" %}
            <section>
                <h1>Statistiques :</h1>
                <div id="stats">
                    <table>
                        <tr>
                            <td>Nombre de buts marqués :</td>
                            <td>{{ nb_goals }}</td>
                        </tr>
                        <tr>
                            <td>Nombre de buts moyen par match :</td>
                            <td>{{ goals_per_match|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td>Matchs nuls :</td>
                            <td>{{ draw_percent|floatformat:2 }}%</td>
                        </tr>
                        <tr>
                            <td>Matchs remportés par l'équipe la mieux classée :</td>
                            <td>{{ matches_won_by_favorite_percent|floatformat:2 }}%</td>
                        </tr>
                        <tr>
                            <td>Matchs perdus par l'équipe la mieux classée :</td>
                            <td>{{ matches_lost_by_favorite_percent|floatformat:2 }}%</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>Scores</th>
                            <th>Occurences</th>
                            <th>Pourcentage</th>
                        </tr>
                        {% for score, occurs, percent in score_list_percent %}
                            <tr>
                                <td align="center">{{ score }}</td>
                                <td align="center">{{ occurs }}</td>
                                <td align="center">{{ percent|floatformat:2 }}%</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>
        </div>
    </body>
</html>
